body {
  background-image: url("./assets/yellow.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-image: url("./assets/yellow.jpeg");
  background-size: cover;
}

nav h3,
.container h3 {
  color: #ba43bf;
  font-weight: 800;
}

.btn.btn-warning.play-button {
  border-radius: 100px;
}

.card-img-top.img-fluid {
  height: 200px;
  object-fit: cover;
}

.img-fluid.rounded-start {
  height: 100%;
  object-fit: cover;
}

.card,
.card li {
  color: white;
  background-color: transparent;
  border-color: #e89dea;
}

.btn.btn-warning.play-button {
  border: none;
  background-color: #ba43bf;
  color: white;
  width: 100%;
}

.btn.btn-warning.play-button:hover {
  background-color: #d93e8b;
}
